<%= form_for(@list) do |lb| %>
  <div class="modal-header">
    <h4 class="modal-title" id="addItemModalLabel"><strong>Add new item:</strong></h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
    <%= lb.fields_for :items, @list.items.build do |f| %>
      <!-- <%#= f.hidden_field :done, :value => true %> -->
      <div class="form-group">
        <label for="item-category" class="control-label">Category</label>
        <%= f.select :category_id, current_user.categories.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Category'}, {class: 'category-select'} %>
      </div>
      <div class="form-group">
        <label for="item-name" class="control-label">Name</label>
        <%= f.text_field :name, autofocus: true, id: "item-name" %>
      </div>
      <div class="form-group">
        <label for="item-qty" class="control-label">Quantity</label>
        <%= f.text_field :qty, id: "item-qty", value: '' %>
      </div>
      <div class="form-group">
        <label for="item-unit" class="control-label">Unit</label>
        <%= f.select :unit, Item::UNIT_TYPES, prompt: 'Select Unit', id: "item-unit" %>
      </div>
      <div class="form-group">
        <label for="item-price" class="control-label">Price/Unit</label>
        <%= f.text_field :price, id: "item-price", value: '' %>
      </div>
      <div class="form-group">
        <label for="done" class="control-label">Done</label>
        <%= f.check_box :done %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="modal-footer">
    <button id="closeAddItemModal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <input id="updateAddItemModal" type="submit" class="btn btn-primary" value="Save">
  </div>
<% end -%>