
<tr data-category="<%= item.category_id %>" data-item="<%= item.id %>" data-list="<%= item.list.id%>" class="rows">
  <td><%= check_box_tag :done, item.done, item.done?, class: 'checkDone', id: item.id, data: {list: item.list.id} %></td>
  <td><%= item_link(item) %></td>
  <td><%= item.price %></td>
  <% unless item.done %>
    <td>
      <%= link_to(edit_list_item_path(@list, item.id), class: "pull-right btn-edit-item", remote: true) do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
    </td>
    <td>
      <%= link_to(list_item_path(@list, item), class: "pull-right btn-trash remove_item", remote: true, method: :delete, data: { confirm: "Are you sure?" }) do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <% end %>
    </td>
  <% end %>
</tr>